:root{
    --green: #28590C
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 16px;
}

/* =========NAVBAR======== */
nav{
    height: 80px;
    width: 100%;
    background-color: var(--green);
    text-decoration: none;
    color: white;
}

nav .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .nav-brand {
    line-height: 80px;
    text-transform: uppercase;
    color: #FBFCEB;
}

.nav .nav-brand a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}
.nav ul li{
    list-style: none;
    display: inline-flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
}

.nav ul li a{
    color: #FBFCEB;
    text-decoration: none;
    text-transform: uppercase;
    transition: all linear 300ms;
}

.nav ul li a:hover,
.nav ul li a:active {
    color: white;
    border-bottom: 2px solid white;

}
/* =========================*/



/* =========FOOTER=========== */

.footer{
    background-color: #3F3F3F;
    bottom: 0;
    height: 50px;
    color: white;
}
.content{
    margin-top: 120px;
}


/*########  Homepage ##########*/
.message{
    text-align:center;
    color:rgb(238, 231, 231);
    font-weight: 800;
    font-style:italic ;
    font-family: 'Dancing Script', cursive;
}

.less{
    color:#e01c1c;
}
.form-control{
    width:50%;
}

.btn-default{
    background-color: green;
}

body {
    background-image: url('../images/lily-banse--YHSwy6uqvk-unsplash\ \(2\).jpg') ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffa92025;
    background-blend-mode:darken;
    background-color: rgba(0, 0, 0, 0.555);
    
}

.site-information {
    margin-top: 5%;
}

.card{
    text-align: center;
    padding:30px;
    width: 85%;
    border-radius: 10%;
    height: 90%;
    background-color: #e2900bdc;
    color:white;
    font-weight: bold;
}

.card-heading{
    font-size: 35px;
} 



