:root{
    --green: #28590C
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 16px;
}

/* =========NAVBAR======== */
nav{
    height: 80px;
    width: 100%;
    background-color: var(--green);
    text-decoration: none;
    color: white;
}

nav .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav .nav-brand {
    line-height: 80px;
    text-transform: uppercase;
    color: #FBFCEB;
}

.nav .nav-brand a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
}
.nav ul li{
    list-style: none;
    display: inline-flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
}

.nav ul li a{
    color: #FBFCEB;
    text-decoration: none;
    text-transform: uppercase;
    transition: all linear 300ms;
}

.nav ul li a:hover,
.nav ul li a:active {
    color: white;
    border-bottom: 2px solid white;

}
/* =========================*/



/* =========FOOTER=========== */

.footer{
    background-color: #3F3F3F;
    bottom: 0;
    height: 50px;
    color: white;
}
.content{
    margin-top: 120px;
}


/*########  Homepage ##########*/
.message{
    text-align:center;
    color:rgb(238, 231, 231);
    font-weight: 800;
    font-style:italic ;
    font-family: 'Dancing Script', cursive;
}

.less{
    color:#e01c1c;
}
.form-control{
    width:50%;
}

.btn-default{
    background-color: green;
}

body {
    background-image: url('../images/lily-banse--YHSwy6uqvk-unsplash\ \(2\).jpg') ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffa92025;
    background-blend-mode:darken;
    background-color: rgba(0, 0, 0, 0.555);
    
}

.site-information {
    margin-top: 5%;
}

.card{
    text-align: center;
    padding:30px;
    width: 85%;
    border-radius: 10%;
    height: 90%;
    background-color: #e2900bdc;
    color:white;
    font-weight: bold;
}

.card-heading{
    font-size: 35px;
} 
.searchbar{
    width: 60%;
    padding: 17px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-left: 15%;
    border-radius: 8px;
}
.submit-food {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    background-color:#4CAF50;
    border-radius: 8px;
    transition-duration: 0.4s;
}
.submit-food:hover {
    color: white;
}
.table {
    text-align: center;
    margin-top: 40px;
    float:left;
    color:white;
    font-size: 20px;
    font-family: 'Kirang Haerang', cursive;
}
table,td{
    border-collapse: collapse;
    border: 1px black solid;
    padding: 40px;
    background-color: rgba(190, 23, 23, 0.685);
    margin-left: 12%;
}
.food-name {
    margin-top: 7%;
    text-align: center;
    font-weight: 900;
    text-decoration: underline;
    color:white;
    font-family: 'Kirang Haerang', cursive;
    font-size: 50px;
}
.food-info{
    text-align: center;
    margin-top: 3%;
    font-weight: 700px;
    color:white;
    font-size: 40px;
    text-decoration: underline;
    font-family: 'Kirang Haerang', cursive;
}
.nutrients {
    background-color: #ffa920e5;
    color: black;
    margin-left: 20%;
    border-radius: 2%;
    width: 60%;
    color:white;
    font-family: 'Kirang Haerang', cursive;
    font-size: 20px;
    margin-bottom: 6%;
}
.nutrients-title{
    text-align: center;
    text-decoration: underline;
    color:white;
    margin-top:30% ;
    margin-bottom: 5%;
    font-size: 40px;
    font-family: 'Kirang Haerang', cursive;
}
.save {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    border-radius: 8px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 15%;
    margin-left:40%;
}
.save:hover {
    background-color: white;
    color: brown;
}


