{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{%block main%}
{{super()}}
    <div class="container" id="about">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 p-5" id="aboutCard">
                <div id="about">
                    <h2 class="text-success">About Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic distinctio ipsam, itaque eum aut
                        assumenda dicta molestias harum repellendus dolorum doloribus est. Natus blanditiis vitae harum
                        nulla voluptas. Quam, nemo? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi
                        nam
                        blanditiis quisquam dolorem veritatis, explicabo architecto laudantium consequatur eum
                        dignissimos,
                        quasi earum doloribus. Ipsa explicabo quidem cupiditate, est qui labore!</p>
                </div>

                <div id="contact">
                    <h2 class="text-success mt-4">Contact Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic distinctio ipsam, itaque eum aut
                        assumenda dicta molestias harum repellendus dolorum doloribus est.</p>
                    <div class="feedback">
                        {{ wtf.quick_form(form)}}
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
{% endblock %}