{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{%block main%}
{{super()}}
    <div class="container" id="about">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 p-5" id="aboutCard">
                <div id="about">
                    <h2 class="text-success">About Us</h2>
                    <p>Nutrimax serves as a gateway to reliable information concerning nutrition, healthy eating,and
                        food safety for consumers.
                        One can easily search across common food all from one location. Powered by natural language
                        technology, Freeform mode enables you speak freely into the
                        the app.After login in,all you need is to type the food you ate and helps you figure out your
                        calorie consumption.
                    </p>
                </div>

                <div id="contact">
                    <h2 class="text-success mt-4">Contact Us</h2>
                    <p>If you have by feedback or questions regarding our platform, please reach out via the form below:</p>
                    <div class="feedback">
                        {% if get_flashed_messages()%}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ get_flashed_messages()[-1] }}
                        </div>
                        {% endif %}
                        {{ wtf.quick_form(form)}}
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
{% endblock %}