{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block main %}
{{ super() }}
<div class="container">
    <!-- <form class="container">
        <input class="searchbar" type="text" name="food" id="food" placeholder="Search for a meal...">
        <button class="submit-food">Search</button>
    </form> -->
    <div id="search">{{ wtf.quick_form(form) }}</div>
    <h1 class="food-name">Results</h1>
    <div class="table">
        
        <table>
            <tr class="py-3">
                <th>Food image</th>
                <th>Food name </th>
                <th>Qty</th>
                <th>Unit</th>
                <th>Calories</th>
                <th>Weight</th>
                <!-- <th>Food group</th> -->
            </tr>
            {% for food in foods %}
            <tr>
                <td><img src="{{food.photo['thumb']}}" alt="Food Pic"></td>
                <td>{{food.food_name}}</td>
                <td>{{food.serving_qty}}</td>
                <td>{{food.serving_unit}}</td>
                <td>{{food.nf_calories}} kcal</td>
                <td>{{food.serving_weight_grams}}g</td>
                <!-- <td>{{food.meal_type}}</td> -->
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <div class="card nutrients mb-5">
            <h3 class="nutrients-title text-dark">Nutritional Content</h3>
            <hr>
            <ul style="list-style-type:none">
                <li>Total fats  <span class="float-end">{{ totals.nf_total_fat }}g</span></li>
                <hr>
                <li>Saturated fats <span class="float-end">{{ totals.nf_saturated_fat }}g</span></li>
                <hr>
                <li>Cholesterol <span class="float-end">{{ totals.nf_cholesterol }}g</span></li>
                <hr>
                <li>Sodium <span class="float-end">{{ totals.nf_sodium }}g</span></li>
                <hr>
                <li>Total-carbohydrates <span class="float-end">{{ totals.nf_total_carbohydrates }}g</span></li>
                <hr>
                <li>Dietary fibre <span class="float-end">{{ totals.nf_dietary_fiber }}g</span></li>
                <hr>
                <li>Sugars <span class="float-end">{{ totals.nf_sugars }}g</span></li>
                <hr>
                <li>Proteins <span class="float-end">{{ totals.nf_proteins }}g</span></li>
                <hr>
                <li>Potassium <span class="float-end">{{ totals.nf_potassium }}g</span></li>
            </ul>
        </div>
    </div>
{%endblock%}