{% extends 'base.html' %} 
{%block main%}
{{super()}}
<div class="container">
    <div class="content-wrapper">
        <div class="row">
            <div class="col">
                {% block space %}{% endblock %}
                {% block error %}{% endblock %}
            </div>
        </div>
    </div>
</div>


<div class= "homepage">
<h1 class="message">Good news! You don't have to <span class="less">eat less</span>, you just need to <span class="less">eat right!</span> </h1>  
<div class="container site-information" >
  <div class="row">
    <div class="col-lg-4">
      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-heading">Know What You Eat</h4>
          <hr>
          <p>Let us know what food you are eating and we will let you know everything about it - including the nutrients,number of calories, the portion per serving  and other powerful information. We have information on 600K+ foods from all over the world. </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-heading">Watch Your Health</h4>
          <hr>
          <p>With the dietary information available in our site, you can watch your health by ensuring that the food you eat satisfies and/or supplements your daily nutrional requirements for a happy, long life.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card text-center">
        <div class="card-body">
          <h4 class="card-heading">Improve Your Expertise</h4>
          <HR>
          <p>Use our resourceful platform to do your research and get information on our website free of charge and from verified sources.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

{%endblock%} -->
