<nav>
    <div class="container-fluid nav">
        <div class="nav-brand">
            <a href="#">Nutrimax</a>
        </div>
        <div class="nav-items">
            <ul>
                <li><a href="{{url_for('main.index')}}">Home</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="{{url_for('main.about')}}">About</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{url_for('auth.logout')}}">Logout ({{ current_user.username }})</a></li>
                {% else %}
                <li><a href="{{url_for('auth.login')}}">Login</a></li>
                {% endif %}
            </ul> 
        </div>
    </div>
</nav>